@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.container {
  width: 320px;
  background: transparent;
  border: 2px solid #9b9b9b;
  backdrop-filter: blur(20px);
  box-shadow: 3px 3px black;
  border-radius: 10px;
  padding: 30px 40px;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: #fff;
}

.input-container {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-container input {
  width: 80%;
  height: 50%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-container input::placeholder{
  color: #fff;
}

.input-container img {
  position: absolute;
  right: 10%;
  top: 50%;
}

.input-container a {
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.input-container a:hover {
  text-decoration: underline;
}

.submit-button {
  width: 100%;
  height: 50px;
  background: #5100b5;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
}

.submit-button:hover {
  background-color: #6e16da;
}

.register-link p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin: 20px 0;
}

.register-link p a {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.register-link p a:hover {
  text-decoration: underline;
}
